{% extends 'base.html.twig' %}

{% block title %}Modifier tache{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-4">Modifier tache</h1>

    <div class="card card-body bg-light my-4 px-5 py-4">
    {{ include('taches/_form.html.twig', {'button_label': 'Mettre à jour', 'button_class': 'btn btn-primary'}) }}
</div>

    <a class="btn btn-secondary mt-3" href="{{ path('app_taches_index') }}">Retour à la liste</a>

    <div class="mt-3">
        {{ include('taches/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}

